:root {
    --color-app-primary: #f8f4f0;
    --color-app-secondary: #fff;
    --nav-height: 3rem;
}

html {
    overflow-y: scroll;
}

body {
    background: var(--color-app-primary);
}

main {
    display: flex;
    flex-direction: column;
    gap: var(--container-gap);

    width: 100%;
    max-width: var(--container-width-max);
    margin: 4rem auto;
    box-sizing: border-box;
}

.modal_bg {
    background: linear-gradient(to bottom,
            var(--color-overlay_light_03),
            #fff);
    padding: var(--container-padding);
}
.page-container_1_3{
    display: grid;
    grid-template-columns: 1fr 3fr;
    gap: 1rem;
}

@media screen and (max-width: 480px) {
    main {
        padding: 1rem 0rem;
    }
    .page-container_1_3 {
        grid-template-columns: 1fr;
    }
}